[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
keras = "<3.0.0"
tensorflow = "*"
matplotlib = "*"
scikit-learn = "*"
pandas = "*"
moabb = "*"
mne = "*"
mne-bids = "*"

[dev-packages]

[requires]
python_version = "3.11"
